---
import Header from "../components/Header.client.jsx";
import HomeSection from "../components/HomeSection.jsx";
import MenuSection from "../components/MenuSection.jsx";
import HoursSection from "../components/HoursSection.jsx";
import ContactSection from "../components/ContactSection.jsx";
import OrderManager from "../components/OrderManager.client.jsx";
import styles from "../style/generic.module.css";
import "../style/colorVariable.css";
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>La Teglia</title>
  </head>
  <body class={styles.body}>
    <Header client:load />
    <HomeSection client:load id="home-section" />
    <MenuSection client:load id="menu-section" />
    <HoursSection client:load id="hours-section" />
    <ContactSection client:load id="contact-section" />
    <OrderManager client:load />
  </body>
</html>
