html, body {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lemon Milk", Sans-serif;
}