html,
body {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.nomeProdotto {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--color-alternative-primary);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
}

.ingredienti {
  color: var(--color-text-primary);
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
}