.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background-primary);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 3000;
  box-sizing: border-box;
}

.logo {
  color: #b04030;
  font-size: 2.5rem;
  font-weight: 700;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 3100;
  width: 35px;
  height: 25px;
  position: relative;
}

.bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #b04030;
  border-radius: 4px;
  left: 0;
  transition: all 0.3s ease;
}

.bar:nth-child(1) {
  top: 0;
}
.bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.bar:nth-child(3) {
  bottom: 0;
}

.hamburgerButton.active .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.hamburgerButton.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburgerButton.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 50%;
}

.menuNav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(245, 241, 231, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.4s ease;
  z-index: 3000;
  backdrop-filter: blur(6px);
}

.menuNav.open {
  left: 0;
}

.menuList {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  color: #5c3a21;
  font-size: 2.2rem;
  margin: 25px 0;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.2s ease;
}

.menuItem:hover {
  color: #b04030;
}

@media (max-width: 600px) {
  .logo {
    font-size: 1.8rem;
  }

  .menuItem {
    font-size: 1.6rem;
  }
}
